
p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    font-family: Arial;
}

img {   
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}


body {
  overflow-x: hidden; /* Prevent horizontal overflow */
  position: relative;
}

.outer-flex-box {
  display: flex;
  justify-content: center;

}

.recommandation {
  border: none;
  margin: none;
  flex: 0.5;
  flex-shrink: 1;
  width:0;
  position: relative;
  width: 289px;
  height: 700px;
  padding-left: 30px;
}



.story-outer-box{
  height: 100px;
  width: 630px;
  margin: 10px;
  background-color: white;
  align-items: center;
  display: flex;
  overflow-x: auto;

  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.story-outer-box::-webkit-scrollbar {
  width: 0;
  display: none;
}


.story-inner-box {
  display: flex;
  min-width: 79px;
  height: 90px;
  justify-content: center;
  align-items: center;
}

.story-icon {
  height: 54px;
  width: 54px;
  left: 50%;
  top: 50%;
  border-radius: 100%;
  border: 2px solid white;
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;

}

.outer-icon {
  display: inline-block;
  width: 62px;
  height: 62px;
  border-radius: 100%;
  background: rgb(106, 8, 139);
  background: linear-gradient(218deg,
  rgb(183, 4, 168) 20%,
  rgba(255,0,0,1) 50%,
  rgba(255,232,0,1) 100%);
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.outer-icon-closefd {
  display: inline-block;
  width: 62px;
  height: 62px;
  border-radius: 100%;
  background: rgb(59, 208, 76);
  position: relative;
  left: 50%;
  transform: translate(-50%);

}

.outer-icon-none {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: rgb(213, 213, 213);
  position: relative;
  left: 50%;
  transform: translate(-50%);

}

.story-user-name {
  font-size: 12px;
  text-align: center;
}


.post-icon-inner-box {
  display: flex;
  justify-content: left;
  align-content: center;
  z-index: 99;

  overflow: visible;
}

.post-outer-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: rgb(106, 8, 139);
  background: linear-gradient(218deg,
  rgb(183, 4, 168) 20%,
  rgba(255,0,0,1) 50%,
  rgba(255,232,0,1) 100%);
  position: relative;
  left: 50%;
  transform: translate(-50%);
  align-content: center;

  overflow: visible;
}

.no-outer-icon {
  background: white;
}

.post {
  position: relative;
  width: 468px;
  border-bottom: 1px solid rgb(196, 196, 196);
}

.post-box {
  width: 466px;
  height: 100%;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  overflow: hidden;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 4px;
  z-index: 10;
}

.ig-heart {
  width: 150px;
  position: absolute;
  display: none;
  transition: transform 0.2s ease;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  animation: shake 1.2s ease;
  z-index: 10;
}

.pause {
  width: 80px;
  height: 80px;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 0.8;
}


@keyframes shake {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0.2;
  }


  25% {
    transform: translate(-50%, -50%) rotate(20deg) scale(1.3);
  }

  50% {
    transform: translate(-50%, -50%) scale(1.3);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -400%) scale(1.3);
  }

}

@keyframes shakeLeft {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0.2;
  }


  25% {
    transform: translate(-50%, -50%) rotate(-20deg) scale(1.3);
  }

  50% {
    transform: translate(-50%, -50%) scale(1.3);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -400%) scale(1.3);
  }

}



.post-pic {
    width: 468px;
    z-index: 10;
    position: relative;

}

.background-vid {
  display: flex;
  width: 466px;
  height: 100%;
  background-color: black;
  justify-content: center;
  align-content: center;
}

.volume-btn {

  width: 28px;
  height: 28px;
  position: absolute;
  display: flex;
  right: 16px;
  bottom: 16px;
  z-index: 10;

  border-radius: 50%;

  border: 0px;

  justify-content: center;
  align-items: center;

  background-color: rgba(158, 156, 156, 0.269);
  cursor: pointer;

}

.bi.bi-volume-up-fill {
  color: rgb(255, 255, 255);
  display: none;
  font-size: 16px;
}

.bi.bi-volume-mute-fill {
  color: rgb(255, 255, 255);
  display: flex;
  font-size: 16px;
}

.bi.bi-person-fill {
  color: rgb(255, 255, 255);
  display: flex;
  font-size: 16px;

}


.tag-btn {

  width: 28px;
  height: 28px;
  position: absolute;
  display: flex;
  left: 16px;
  bottom: 16px;
  z-index: 100;

  border-radius: 50%;

  border: 0px;

  justify-content: center;
  align-items: center;

  background-color: rgba(18, 18, 18, 0.8);
  cursor: pointer;

}






.post-box:hover .arrow-btn, 
.post-box:hover .page-no-box{
  display: flex;
}

.arrow {
  position: relative;
  width: 25px;
  z-index: 10;
  box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.13);
  opacity: 0.8;
  border-radius: 50%;
}


.arrow-btn {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  transform: translateY(-50%);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 10;
  cursor: pointer;
  border: 0;
  background-color: rgba(255, 255, 255, 0);
}


.arrow-left-btn {
  left: 0%;
}

.arrow-right-btn {
  right: 0%;
}

.story-arrow-left-btn {
  left: 1%;
}

.story-arrow-right-btn {
  right: 1%;
}

.slider4-wrapper {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.slider4::-webkit-scrollbar {
  width: 0;
  display: none;
}



.swiper-pagination-bullet {
  background-color: rgb(255, 255, 255);
  opacity: 0.5;
  width: 7px;
  height: 7px;
  margin: 3px;
}

.swiper-pagination-bullet-active {
  background-color: white;
  opacity: 1;
}

.page-no-box {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  top: 30px;
  right: 10px;
  transform: translateY(-50%);
  width: 55px;
  height: 34px;
  border-radius: 17px;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2000;

}

.likes {
    font-size: 14px;
    font-weight: bold;
}

.channel-name {
    display: flex;
    line-height: 32px;
    vertical-align: top;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}

.info {
  border: 0;
  background-color: white;
  font-size: 10px;
  display: flex;
  line-height: 40px;
  vertical-align: middle;
  margin-left: auto;
  font-weight: bold;
  align-content: right;
  cursor: pointer;
}


.post-time {
  display: flex;
  color: grey;
  line-height: 32px;
  vertical-align: top;
  margin-left: 5px;
}

.content {
  width: 468px;
}

.icon-pic {
  width: 32px;
  height: 32px;
  border-radius: 20px;
  display: flex;
  margin: auto;
  border: 2px solid white;
  cursor: pointer;
  position: relative;
  z-index: 1000;
  

}

.post-icon {
  width: 42px;
  height: 42px;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-right: 2px;

}

.search-bar {
    font-size: 20px;
}

.header {
    height: 50px;
    display: flex;
    width: 100%;
    align-content: center;
    margin-top: 15px;
}

.bi.bi-heart, .bi.bi-heart-fill, .bi.bi-chat, .bi.bi-bookmark {
    font-size: 23px;
    font-weight: bold;
    margin-right: 0px;
    padding: none;
    color: black;
}

.bi.bi-bookmark {
  text-align: right;
}

.bi.bi-send {
    font-size: 23px;
    font-weight: bold;
}


.content {
    font-family: Arial, Helvetica, sans-serif;
}


.btn {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  padding-right: 8px;
  cursor: pointer;
  padding-left: 0;
}

.btn3 {
  background-color: white;
  border: none;
  padding-right: 8px;
  padding-left: 8px;
  cursor: pointer;
  
}

.btn2 {
  background-color: white;
  border: none;
  padding-right: 0;
  cursor: pointer;
  padding-left: 0;
}

.btn:hover #not-liked-icon,
.btn:hover #not-liked-icon2,
.btn:hover #not-liked-icon3,
.btn2:hover, .btn3:hover {
  opacity: 50%;
  transition: all 0.2s;
}

.btn:active  {
  opacity: 50%;
}

.btn2:active, 
.btn3:active  {
  opacity: 30%;
}

#liked-icon, #liked-icon2, #liked-icon3, #liked-icon4{
  display: none;
  color: red;
}


.btn {
  transition: transform 0.2s ease;
}
.btn:hover {
  transform: scale(1);
}



#not-liked-icon {
  display: inline;
}


.reaction-box {
  display: flex;
  width: 100%;
  height: 40px;
  margin-top: 5px;
}

.reaction {
  width: 500px;
  display: flex;
  flex: 1;
}

.bookmark {
  display: flex;
  flex: 1;
  justify-content: right;
}

.translate {
    font-size: 12px;
    font-weight: bold;
    margin-top: 6px;
    margin-bottom: 6px;
    cursor: pointer;
}

.comment {
    color: grey;
    cursor: pointer;
}

.Add-comment {
    color: grey;
    border: 0;
    font-size: 14px;
    width: 468px;
    height: 40px;
    outline: none; 
}

.Add-comment:focus {
    border: 0;
}

.hash-tag {
  color:rgb(42, 56, 108);
  cursor: pointer;
}

.inner-info-box .outer-icon {
  left: 30px;
}

#channelchk-name {
  margin-left: 15px;
}

.side-btn:active, .side-btn2:active {
  opacity: 0.5;
}

.story-arrow-box {
  width: 100%; 
  height: 100%; 
  position: absolute;
  left:0;
  right:0; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  background-color: rgba(130, 130, 130, 0.381);
  z-index: 10;
}

.story-arrow-btn {
  position: absolute;
  top: 36%;
  width: 50px;
  height: 50px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  cursor: pointer;
  border: 0;
  background-color: rgba(255, 255, 255, 0);
  pointer-events: auto; 
}

.story-outer-box-full {
  position: relative;
  width: 630px;
  height: 100px;
  display: flex;
}

.story-arrow {
  position: relative;
  width: 25px;
  z-index: 10;
  box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.13);
  opacity: 0.95;
  border-radius: 50%;

}

