.info-box-from-main-icon {
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow-x: auto;
  top: 90%;
  opacity: 0;
  width: 366px;
  height: 306px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  visibility: hidden;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.15);

  align-items: space-between;
  justify-content: space-between;
  z-index: 20000;

  padding-bottom: 18px;
  padding-top: 22px;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.post-outer-icon .icon-pic:hover ~ .info-box-from-main-icon{
    visibility: visible;
    opacity: 1;
    transition: all 0.3s;
    transition-delay: 0.3s;
}

.info-box:hover {  
  visibility: visible;              
  opacity: 1;                       
  transition: all 0.3s;    
  z-index: 20000;         
}

.bi.bi-messenger {
  font-size: 14px;
  margin-right: 10px;
}

.main-inner-follow-btn {
  width: 150px;
}
.main-inner-follow-btn:hover {
  width: 150px;
}
.main-inner-follow-btn:active {
  width: 150px;
}

.inner-message-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 34px;
  background-color: #0095F6;
  border: 0px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 10px;
}

.inner-message-btn:hover {
  background-color: #1877F2;
}

.inner-message-btn:active {
  background-color: #125ab9;
}

#main-inner-follow-btn-following {
  display: none;
  background-color: rgb(230, 230, 230);
  color: black;
  width: 150px;
}

#main-inner-follow-btn-following:hover {
  background-color: rgb(215, 215, 215);
  width: 150px;
}
#main-inner-follow-btn-following:active {
  background-color: rgb(200, 200, 200);
  width: 150px;
}